---
import { Icon } from "astro-icon";
import Base from "../../layouts/base.astro";
import ExternalLink from "../../components/ExternalLink.astro";
import Nav from "../../components/Nav.astro";
---

<Base
  title="About — The manual, a compilation of the Enchiridion translations"
  description="Why and how we compiled translations from different authors at different points of history alongside the original Enchiridion from Epictetus to make sure you can easily read and share your favorite version of it."
>
  <div
    class="flex flex-col gap-16 md:pb-8 pb-16 w-full items-start justify-start min-h-screen"
  >
    <div>
      <Nav href="/" label="Home" />
    </div>
    <main
      class="flex flex-col md:grid md:grid-cols-2 md:grid-rows-2 gap-20 px-8 md:px-12 max-w-5xl mx-auto h-full"
    >
      <div>
        <h1 class="uppercase text-6xl font-bold">About</h1>
        <p>
          This is an <ExternalLink url="https://opensource.org/osd">
            {"Open Source"}
          </ExternalLink> project, the source code is available on <ExternalLink
            url="https://github.com/bdsqqq/psykip"
            >{"Github"}
          </ExternalLink>
        </p>
      </div>
      <div class="flex flex-col gap-10 md:row-span-2">
        <div>
          <h2 class="text-xl font-bold">Why?</h2>
          <div class="flex flex-col gap-4">
            <p>
              The Enchiridion is a fascinating book, an easy read filled with
              valuable insights. Unfortunately—even with multiple public domain
              translations—reading it can often be a bad experience.
            </p>
            <p>
              Between old and sometimes confusing terms, hard to find and even
              harder to download files, and outdated websites, the barriers
              between an interested reader and this content are monumental. So,
              why not make a website that solves these problems?
            </p>
          </div>
        </div>

        <div>
          <h2 class="text-xl font-bold">How?</h2>
          <ol class="flex flex-col gap-4 list-decimal">
            <li>
              We focused our efforts on design. While the content is the reason
              we built this site, its presentation is what solves the problems
              listed above. We made the best way to read the Enchiridion with
              our user experience and interface.
            </li>
            <li>
              Even though some translations aren't the best for everyone, they
              might be the favorites of some folks, so instead of pushing for
              one or another, we made it easy to read the one that works for
              YOU.
            </li>
            <li>
              We understand that books are hard to share, and with multiple file
              types that work for different devices with different applications,
              a project like this can grow out of control fast. That's why we
              took a step back and decided to serve the content from each
              translation in a way that's easy to read and share; nothing more,
              nothing less.
            </li>
          </ol>
        </div>
      </div>
      <div class="place-self-end w-full">
        <p>
          This site was designed and developed by <ExternalLink
            url="https://igorbedesqui.com"
          >
            Igor Bedesqui
          </ExternalLink>
        </p>
        <p>
          <a
            class="flex gap-1 items-center p-2 -m-2 w-max underline underline-offset-2 outline-none focus-visible:ring-2 ring-zinc-500 ring-offset-zinc-100 dark:ring-offset-zinc-900 ring-offset-2 group"
            href="/about/translations"
            >See translations sources <Icon
              class="inline h-[15px] w-[15px] transition-transform transform translate-y-[1px] group-focus-visible:translate-x-1 group-hover:translate-x-1"
              name="radix-icons:arrow-right"
            />
          </a>
        </p>
      </div>
    </main>
  </div>
</Base>
