---
import type { MarkdownInstance} from "astro" 
import Base from "../../layouts/base.astro";
import codes from "../../data/codes";

export function getStaticPaths(){
   return codes.map(
      code => ({
         params: {
            translation: code
         }
      })
   );
};

const { translation } = Astro.params

interface Frontmatter {
   Author:     string;  
   Title:      string;  
   Translator: string; 
   Date:       string; 
   Source:     {
      label: string;
      url: string;
   };
   Code:       string;
}

const MD = await import(`../../data/${translation}/index.md`) as MarkdownInstance<Frontmatter>;
---

<Base title={MD.frontmatter.Author}>
   <a href={MD.frontmatter.Source.url}>{MD.frontmatter.Source.label}</a>
   <MD.Content />
</Base>
