---
import Base from "../../layouts/base.astro";
import codes from "../../data/codes";
---

<Base title="Read">
   <ul>
      {codes.map(code => (
         <li>
            <a href={`/read/${code}`}>
               {code}
            </a>
         </li>
      ))}
   </ul>
</Base>
