---
export interface Props {
  title: string;
}
import "../styles/global.css";

const { title } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen relative bg-zinc-100 text-zinc-900">
    <div class="overlay"></div>
    <slot />
    <style>
      .overlay {
        pointer-events: none;
        position: absolute;
        inset: 0;
        z-index: 9999;
        width: 100%;
        height: 100%;
        background-image: url("/img/grain.png");
        background-position: 0px 0px;
        background-size: 250px;
        opacity: 0.4;
      }
    </style>
  </body>
</html>
